<form id="taskForm">
    <input type="text" id="taskInput" placeholder="Task name">
    <textarea placeholder="Task description" id="descInput"></textarea>
    <input type="submit" id="taskSubmit" value="Create Task">
</form>
<div id="container"></div>


<script type="text/javascript">
    
    var tasksData = <%= @tasks.as_json.to_json.html_safe %>;

    // Rendering all tasks
    $('#container').html(renderAllTasks());

    // Creating new task
    $('#taskForm').submit(function(event){
        event.preventDefault();

        var tasktitle,
            taskDescription,
            newTaskObj;

            tasktitle = $(this).find('#taskInput').val();
            taskDescription = $(this).find('#descInput').val();

            if ( tasktitle !== '' && taskDescription !== '' ) {
                newTaskObj = {
                    title: tasktitle,
                    description: taskDescription
                }

                // Creating Task
                createTask(newTaskObj);
            }
    });


    $('body').on('click', '.deleteTask', function(event) {
        event.preventDefault();
        var taskId = $(this).data('tid');
        
        // Deleting Task
        deleteTask(taskId);
    });

    $('body').on('click', '.editTask', function(event) {
        event.preventDefault();
        var taskId = $(this).data('tid'),
            taskTitle,
            taskDescription,
            taskObj;

            taskTitle = $(this).parents('.task').find('h4').text();
            taskDescription = $(this).parents('.task').find('p').text();

        var str = '<div id="updateForm">';
            str += '<input type="text" id="taskInput" value="' + taskTitle + '">';
            str += '<textarea placeholder="Task description" id="descInput">' + taskDescription + '</textarea>';
            str += '</div>';

            $(this).append(str);


        // Deleting Task
        // editTask(taskId);
    });
</script>