<script type="text/javascript">
    var tasksData = <%= @tasks.as_json.to_json.html_safe %>;
    _.templateSettings = {
        interpolate: /\{\{\=(.+?)\}\}/g,
        evaluate: /\{\{(.+?)\}\}/g
    };
</script>

<script id="tasksTemplate" type="text/template">
    <div id="taskForm">
            <input type="text" id="taskInput" placeholder="Enter task name">
            <textarea type="text" id="descInput" placeholder="Enter task description"></textarea>
            <a href="#" id="createTask" class="btn btn-primary">Create Task</a>
    </div>
    <br>
    {{ _.each(tasks, function(task){  }}
        <div class="task">
            <h4>{{= task.get('title') }}</h4>
            <p>{{= task.get('description') }}</p>
        </div>
    {{ }); }}
</script>

<div id="create-container"></div>
<div id="container"></div>

<script type="text/javascript">

    window.TasksCollection = Backbone.Collection.extend({
        urlRoot: '/tasks'
    });

    window.TasksView = Backbone.View.extend({
        el: '#container',

        initialize: function() {
            this.render();
        },

        render: function() {
            var tasks = new TasksCollection();
            var template = _.template($('#tasksTemplate').html(), {tasks: tasks.models});
            this.$el.html(template);
        }
    });

    new TasksView();
</script>