<script type="text/javascript">
    var tasksData = <%= @tasks.as_json.to_json.html_safe %>;

    function renderTask(task) {
        var taskStr  =  '<div class="task">';
            taskStr +=  '<h4>' + task.title + '</h4>';
            taskStr +=  '<p>' + task.title + '</p>';
            taskStr +=  '</div>';
            $('body').prepend($(taskStr));
            return true;
    }


</script>