<script type="text/javascript">
    var tasksData = <%= @tasks.as_json.to_json.html_safe %>;
</script>

<script id="tasksTemplate" type="text/template">
    <div id="taskForm">
            <input type="text" id="taskInput" placeholder="Enter task name">
            <textarea type="text" id="descInput" placeholder="Enter task description"></textarea>
            <a href="#" id="createTask" class="btn btn-primary">Create Task</a>
    </div>
    <br>
    {{ _.each(tasks, function(task){  }}
        <div class="task">
            <h4>{{= task.get('title') }}</h4>
            <p>{{= task.get('description') }}</p>
        </div>
    {{ }); }}
</script>

<div id="create-container"></div>
<div id="container"></div>

<script type="text/javascript">

// On Page Data
var tasksData = <%= @tasks.as_json.to_json.html_safe %>;


// Rendering All Tasks
$('#container').html(renderAllTasks());

// Deleting Task
$('body').on('click', '.deleteTask', function (event) {
    event.preventDefault();

    var taskID = $(this).data('tid');

    deleteTask(taskID);
});

// Creating Task
$('#taskForm').submit(function(event){
    event.preventDefault();

    var taskInput,
        descInput,
        formData;

<<<<<<< Updated upstream
    if ( $('#taskInput').val() !== '' && $('#descInput').val() !== '' ) {
        taskInput = $('#taskInput').val();
        descInput = $('#descInput').val();

        formData = {
            title: taskInput,
            description: descInput
=======
            if ( $('#taskInput').val() !== '' && $('#descInput').val() !== '' ) {

                // Checking Empty
                var task = new Task({
                    title: $('#taskInput').val(),
                    description: $('#descInput').val()
                }).save({
                    success: function() {
                        alert('success');
                    }
                });

            } else {
                return false;
            }
>>>>>>> Stashed changes
        }
        createTask(formData);
    }

});

</script>