<form id="taskForm">
    <input type="text" id="taskInput" placeholder="Task name">
    <textarea placeholder="Task description" id="descInput"></textarea>
    <input type="submit" id="taskSubmit" value="Create Task">
</form>
<div id="container"></div>

<script type="text/javascript">

// On Page Data
var tasksData = <%= @tasks.as_json.to_json.html_safe %>;


// Rendering All Tasks
$('#container').html(renderAllTasks());

// Deleting Task
$('body').on('click', '.deleteTask', function (event) {
    event.preventDefault();

    var taskID = $(this).data('tid');

    deleteTask(taskID);
});

// Creating Task
$('#taskForm').submit(function(event){
    event.preventDefault();

    var taskInput,
        descInput,
        formData;

    if ( $('#taskInput').val() !== '' && $('#descInput').val() !== '' ) {
        taskInput = $('#taskInput').val();
        descInput = $('#descInput').val();

        formData = {
            title: taskInput,
            description: descInput
        }
        createTask(formData);
    }

});

</script>