@import "global/_css3";
@import "global/_variables";
@import "global/_reset";
@import "global/_mixins";
@import "global/_functions";
@import "global/_typography";

body {
    font-family: $defaultFamily;
    padding: 30px;
}

.task {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 10px;
    > h4 { margin-right: 10px; font-size: 14px; color: #f77f00; }
    > a {
        text-decoration: none;
    }
    > .deleteTask, > .selectTask { float: right; margin-right: 5px; }
}

#taskForm {
    width: 500px;
    margin: 20px auto;
    > #taskInput, > #descInput {
        width: 100%;
        font-size: 0.90rem;
        padding: 10px 5px;
        border: #eee solid 1px;
        resize: none;
        margin-bottom: 10px;
        &:focus { outline: none; }
    }
    > *.error:not(#taskSubmit) {
        border: red solid 1px;
    }
    #taskInput {

    }
    #descInput {
        height: 100px;
    }
    #resetTask {
        -webkit-appearance: push-button;
        white-space: pre;
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        padding: 2px 6px 3px;
        line-height: normal;
        &:hover { text-decoration: none; cursor: default; }
    }
}

#container {
    width: 500px;
    margin: auto;
}

.errorElement {
    color: red;
    font-size: 0.75em;
}