// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { margin: 0; padding: 0; }

body {
    font-family: Helvetica Neue, arial, sans-serif;
    font-size: 100%;
}

.task {
    margin: 10px;
    > h4, > .editTask { display: inline-block; }
    > h4 { margin-right: 10px; }
}